* {
    box-sizing: border-box;
    margin: 0;
}
body {
    font-family: 'Kanit', sans-serif;
}
.nav-header {
    background-color: #F55A5A;
    color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
section {
    display: flex;
    gap: 40px;
    margin: 50px;
    justify-content: center;
}
img {
    object-fit: cover;
    max-width: 200px;
    height: 300px;
    border-radius: 8px;
}
.article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 0;
    max-width: 500px;
    min-width: 400px;
}
h2 {
    font-size: 36px;
}
h3 {
    font-size: 20px;
    font-weight: 300;
}
a {
    padding-left: 30px;
    color: gray;
}
span {
    font-size: 21px;
}
p {
    font-size: 16px;
}
